:root{
    --color-blue: #2196F3;
    --dark-blue: #2F303A;
    --white: #fff;
    --black: #212121;
    --light-silver: #F5F4FA;
    --silver-gray: #757575;
    --button-hover: #188CE8;
    --transition: .7s;
    --contact-gray: #757575;
    --black-for-logo: #000;
    --silver-footer: #FFFFFF99;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
}
ul, ol, li{
    list-style: none;
}
a, button{
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: inherit;
}

/* header and footer */

header.header{
   
}
ul.navigation{
   
}
ul.contact{
   
}
li.navigation-item{
    padding: 0px 20px;
}
li.navigation-item a{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--black);
    
}
li.navigation-item a:hover, 
li.contact-item a:hover{
    text-decoration: none;
    color: var(--color-blue);
    transition: var(--transition);
}
li.contact-item a{
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--contact-gray);
    
}
footer.footer{
    background-color: var(--dark-blue);
}
li.address-contact-item a{
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: var(--silver-footer);
}
li.address-contact-item:nth-child(1) a {
    color: var(--white);
}
li.address-contact-item:hover a {
    color: var(--color-blue);
    transition: var(--transition);
}
a.main-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: var(--black-for-logo);
}
a.main-logo span{
    color: var(--color-blue);
    }
a.bottom-logo{
    color: var(--white);
}


/* main page */
/* main page */
/* main page */


h1.main-title{
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0.06em;

    color: var(--white);
   
}
section.main-section{
    background-color: var(--dark-blue);
}
button[type="button"]{                      /*big blue button*/
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;

    background-color: var(--color-blue);
    color: var(--white);


}
button[type="button"]:hover {
    transition: var(--transition);
    background-color: var(--button-hover);
}
ul.attention-to-details{
   
}
h3.attention-to-details-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--black);
}
ul.attention-to-details p{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--silver-gray);


}
ul.what-we-do{
   
}
ul.our-people{
   
}

h2.what-we-do-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;

    color: var(--black);


}
li.attention-to-details-items{
   
}

ul.what-we-do img[width="370"]{
    
}
section.our-people-section-for-background{
    background-color: var(--light-silver);
  
}
li.our-people-item{
   
}
li.our-people-item h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--black);
}
li.our-people-item p {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--silver-gray);
}
section.attention-to-details-section-for-background{
   
}
section.what-we-do-section-for-background{
   
}

/* portfolio */
/* portfolio */
/* portfolio */

ul.main-block-big-foto{
   
}
li.main-block-big-foto-items{
   }
li.main-block-big-foto-items h3,
li.main-block-big-foto-items p{
   
}

li.main-block-big-foto-items h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--black);
}
li.main-block-big-foto-items p {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

    color: var(--silver-gray);


}
ul.portfolio-many-buttons{
    
}
li.portfolio-many-buttons-item{
    color: var(--white);
}   
li.portfolio-many-buttons-item button{      /*many buttons*/
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    background-color: var(--white);
    color: var(--black);
}

li.portfolio-many-buttons-item:hover button{
    transition: var(--transition);

    background-color: var(--color-blue);
    color: var(--white);
}
h2.title-hidden{
    display: none;
}